<h1>Sign Up!</h1>


<%= simple_form_for(@user) do |f| %>
<center>
	<table>

				<tr>
				<%= f.input :name %>
			</tr>
			<h2></h2>
			<tr>
				<%= f.input :email %>
			</tr>
			
			<h2></h2>
			<tr>
				<%= f.input :password %>
			</tr>
			
			<h2></h2>
			<tr>
				<%= f.input :password_confirmation %>
			</tr>
			
			<h2></h2>
			<tr>
				<%= f.button :submit %>
			</tr>
			
		

	</table>
</center>
<% end %>
<center>
<li><a href="/Home"><span class="glyphicon glyphicon-user"></span>Back to Home</a></li>
</center> 