  <html>
  <head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body >
    
    
    <table>
      <tbody>
        
        <nav class="navbar navbar-default navbar-fixed-top" class = "img-responsive">
          <div class="container-fluid">
           

        
            <ul class="nav navbar-nav">
              <li >
                <a class="navbar-brand" href="#">
                  <h3><a href="#">InstantGram</a></h3>
                </a>
              </li>
                
              <li > <a href="#"></a> </li>
   
              
                            <li class = "col-md-3"><a href="#"><div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for your friends">
                <span class="input-group-btn">
                      <button class="btn btn-primary" type="button">Go!</button>
                    </span>
              </div></a></li>
              <li > <a href="#"></a> </li>


            </ul>
            <ul class = "nav navbar-nav navbar-right">
                <li ><h4><a href="#">Log in</a></h4></li>
             <a href="#" class="btn btn-success btn-primary">Sign up now!</a> 
            
              <li ><a href="#">
                <a href="/pictures/new"><img class = "img-responsive" src="http://www.thegreatmedicines.com/wp-content/uploads/2014/12/110767-glowing-green-neon-icon-alphanumeric-plus-sign.png" width = 50 height = 50></a>
                </li>
                </ul>
          </div>
        </nav>
          
        <div class="container">
         
        </div>
      </tbody>  
    </table>
    <table>
      <tbody>
        <tr>
          
        </tr>
      </tbody>  
    </table>
<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <% fcount = 967 %>     
<table>
  <tbody>
    <tr>
      <td class = "col-md-1">
      </td>
      <td class = "col-md-2">
       <h4>GoldenKookieMakne</h4>
      </td>
      <td class = "col-md-4">
        <img  class = "img-responsive" class = "img-rounded" src="https://ygfamilyartists.files.wordpress.com/2011/06/i_love_kpop_by_xdajoker-d3fg3a0.jpg" width = 700 height = 500>

      </td >
      
      <td class = "col-md-3">
        <table>
          <tbody>
            <tr>
              <h5>Followers: 2.2k</h5>
            </tr>
            <tr>
              <h5>Following: 717</h5>
            </tr>
              

               <button id="up" onclick=>follow</button>
             
            <tr>
            </tr>
          </tbody>
        </table>
            
           
          
      </td>
      <td class = "col-md-1">

      </td>

    </tr>
  </tbody>
</table>



<style type="text/css">
    td:nth-child(1) {
      padding-right: 20px;
      padding-bottom: 50px;
      padding-top: 50px;
}​
</style>


<table>
 
<% count = 0 %>
  <tbody >
   <tr class="row">
   
    <% @pictures.reverse.each do |picture| %>
      <% count = count + 1 %>
      
        <td class = "col-md-3" > 
            <div class="hovereffect">
              <a href="/pictures/<%=picture.id%>"><img class = "img-responsive" src= "<%= picture.image_url %>"   width = 400 height = 400 ></a>
           
          </div>
  

          </td>
          
          
         <td class = "col-md-1 pull-down">
            <%= link_to 'Edit', edit_picture_path(picture) %>
            <p></p>
            <p></p>

            <%= link_to picture, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <%= image_tag("http://www.frankchimero.com/writing/what-screens-want/trash.jpg", size: "20x20") %>
              <% end %>

          </td>
         
        <% if count ==3 %>
             <% count = 0 %>
             </tr><tr class = "row">
          <% end %>
      
      
    <% end %>

  </tr>
    
  </tbody>
</table>

</body>


    
    
  


  </html>
  